.app__falcone {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 8px;
}
.app__falcone__header {
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 4px;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
  margin-right: 8px;
  position: sticky;
  top: 80px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__falcone__header__button button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  color: #000;
  cursor: pointer;
  margin-left: 16px;
  width: 96px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .app__falcone__header__button button {
    margin-top: 0;
  }
}
.app__falcone__contents {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1279px) {
  .app__falcone__contents {
    grid-template-columns: 1fr 1fr;
  }
}
.app__falcone__contents__card {
  background-color: #f7f7f7;
  border-radius: 4px;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.04);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 16px;
  margin-right: 8px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .app__falcone__contents__card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.app__falcone__contents__card__dropdown {
  margin-left: 8px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .app__falcone__contents__card__dropdown {
    margin-bottom: 0;
  }
}
.app__falcone__contents__card__distance {
  margin-top: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .app__falcone__contents__card__distance {
    position: absolute;
    bottom: 16px;
  }
}
.app__falcone__contents__card__dropdown .dropdown {
  margin-bottom: 80px;
}
.app__falcone__contents__card__dropdown__c {
  margin-top: 80px;
}
.app__falcone__contents__card__dropdown__c__radio {
  display: flex;
  align-items: center;
}
.app__falcone__contents__card__dropdown__c__radio__input:disabled {
  cursor: not-allowed;
}
.app__falcone__contents__card__dropdown__c__radio__label {
  color: #000;
  display: flex;
  align-items: center;
}
.app__falcone__contents__card__dropdown__c__radio__label__margin {
  margin-left: 4px;
  margin-right: 8px;
}
