html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.app {
  min-width: 100vw;
}
.app__result {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 104px;
}
.app__result__header__contents {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 80px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__result__header__contents p {
  margin-top: 16px;
}
.app__result__header__contents button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  color: #000;
  cursor: pointer;
  margin-top: 16px;
}
.app__result__header__contents__icon {
  margin-top: 16px;
}
.app__planets,
.app__vehicles {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.app__planets__card,
.app__vehicles__card {
  background-color: #fff;
  border-radius: 4px;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.04);
  margin-top: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
